
@import "_vars.scss";
@import "_mixins.scss";

.header {
    padding-bottom: 20px;
    @media (max-width: 1000px) {
        padding-bottom: 16px;
    }
    @media (max-width: 700px) {
        padding-bottom: 19px;
    }
    &__container {
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 28px;
        grid-template-rows: auto;
        grid-auto-flow: dense;
        @media (max-width: 1300px) {
            grid-template-columns: repeat(9, 1fr);
            grid-gap: 32px;
            grid-row-gap: unset;
        }
        @media (max-width: 1000px) {
            grid-template-columns: repeat(6, 1fr);
            grid-gap: unset;
            grid-row-gap: 16px;
            grid-column-gap: 32px;
        }
        @media (max-width: 1000px) {
            grid-gap: 16px;
        }
    }
    &__region-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: $titleColor;
        @media (max-width: 700px) {
            font-size: 16px;
            line-height: 120%;
        }
    }
    &__contacts-region {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    &__contacts {
        grid-column: 1/5;
        align-items: center;
        padding: 14px 0 14px 0;
        @media (max-width: 1300px) {
            grid-column: 1/10;
            margin-bottom: 8px;
        }
        @media (max-width: 1000px) {
            grid-column: 1/7;
            padding-bottom: unset;
            margin-bottom: unset;
        }
        @media (max-width: 700px) {
            grid-column: 1/7;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: unset;
        }
    }
    &__number {
        display: flex;
        align-items: center;
        color: #FF862F;
        transition: color 0.3s ease-in-out;
        @media (max-width: 1300px) {
            margin-left: auto;
        }
        @media (max-width: 700px) {
            margin-left: unset;
            margin-top: 13px;
            font-size: 14px;
            line-height: 100%;
        }
    }
    &__number svg {
        @media (max-width: 700px) {
            width: 20px;
            height: 20px;
        }
    }
    &__number svg path {
        transition: fill 0.3s ease-in-out;
    }
    &__number:focus:not(:hover) {
        background-color: #FFF5D1;
    }

    &__number:hover {
        color: #FFBD59;
    }

    &__number:hover path {
        fill: #FFBD59;
    }

    &__number:active {
        color: #BB370E;
    }
    &__number:active svg path {
        fill: #BB370E; 
    }
    &__info-nav {
        grid-column: 6/13;
        @include list-reset;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 23px;
        padding: 14px 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #999999;
        @media (max-width: 1300px) {
            grid-column: 1/8;
            margin-left: unset;
            margin-bottom: 32px;
            margin-right: 22px;
        }
        @media (max-width: 1000px) {
            grid-column: 1/7;
            margin-bottom: 16px;
            margin-right: unset;
            padding: 18px 0;
        }
        @media (max-width: 700px) {
            display: none;
        }
    }
    &__logo {
        grid-column: 1/3;
        @media (max-width: 1300px) {
            margin-bottom: 32px;
        }
        @media (max-width: 1000px) {
            grid-column: 3/5;
            margin-bottom: unset;
        }
        @media (max-width: 700px) {
            grid-column: 1/7;
            display: flex;
            grid-row: 1/2;
            padding: 12px;
        }
    }
    &__logo img {
        @media (max-width: 1000px) {
            object-fit: scale-down;
        }
        @media (max-width: 700px) {
            margin: 0 auto;
        }
    }
    &__burger-container {
        display: none;
        @media (max-width: 1000px) {
            display: block;
            grid-column: 1/3;
        }
        @media (max-width: 700px) {
            grid-column: 1/2;
            padding: 12px 0 12px 4px;
        }
    }
    &__burger {
        @include btn-reset;
    }
    &__nav {
        grid-column: 4/13;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $titleColor;
        @media (max-width: 1300px) {
            grid-column: 3/10;
            margin-bottom: 32px;
            margin-left: 32px;
        }
        @media (max-width: 1000px) {
            grid-column: unset;
            display: none;
        }
    }
    &__mobile {
        position: absolute;
        top: 108px;
        left: 0;
        right: 0;
        grid-column: 1/7;
        background-color: #fff;
        background-image: url('images/el.svg');
        background-repeat: no-repeat;
        background-position: 90% 70%;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
        @media (max-width: 700px) {
            background-image: unset;
            top: 144px;
        }
    }
    &__mobile--active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }
    &__mobile-nav {
        width: 50%;
        display: block;
        column-count: 2;
        padding: 0px 72px 60px;
        @media (max-width: 700px) {
            column-count: unset;
            padding: 0px 12px 26px;
        }
    }
    &__mobile-info-nav {
        @include list-reset;
        display: none;
        padding: 24px 12px;
        background-color: #F6F6F6;
        @media (max-width: 700px) {
            display: block;
            column-count: 2;
        }
    }
    &__close-burger {
        @include btn-reset;
        padding: 34px 72px;
        @media (max-width: 700px) {
            padding: 12px 16px 26px;
        }
        
    }
    &__close-burger svg rect {
        transition: fill 0.3s ease-in-out;
    }
    &__close-burger svg {
        transition: background-color 0.3s ease-in-out;
    }
    &__close-burger:focus svg rect {
        fill: #7033AC;
    }
    &__close-burger:focus svg {
        background-color: #EBD1FF;
    }
    &__close-burger:hover svg rect {
        fill: #A65CF0;
    }
    &__close-burger:active svg rect {
        fill: #7033AC;
    }
    &__search {
        grid-column: 1/11;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1300px) {
            grid-column: 1/10;
        }
        @media (max-width: 1000px) {
            grid-column: 1/7;
            margin-top: 13px;
        }
        @media (max-width: 700px) {
            grid-column: 1/7;
            display: flex;
            flex-direction: column;
            margin-top: unset;
        }
    }
    &__log-in {
        grid-column: 11/13;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: 1300px) {
            grid-column: 8/10;
            margin-bottom: 32px;
        }
        @media (max-width: 1000px) {
            grid-column: 5/7;
            margin-bottom: unset;
        }
        @media (max-width: 700px) {
            grid-column: 4/7;
        }
    }
    &__cart {
        @include btn-reset;
        height: fit-content;
    }
    &__user {
        @include btn-reset;
        margin-right: 32px;
        height: fit-content;
    }
    &__cart svg,
    &__user svg,
    &__cart svg .cart__path,
    &__user svg path {
        transition: background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
    }
    &__user:focus-visible,
    &__cart:focus-visible {
        outline: none;
        border: none;
        background-color: #C998FB;
        background-size: 34px 36px;
    }
    &__user:focus-visible path,
    &__cart:focus-visible .cart__path{
        fill: #fff;
    }
    &__user:hover:not(:focus-visible) path ,
    &__cart:hover:not(:focus-visible) .cart__path {
        fill: #C998FB;
    }
    &__user:active path ,
    &__cart:active .cart__path {
        fill: #7033AC;
    }
}

.mobile-nav__item {
    white-space: nowrap;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}

.mobile-nav__item a {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.mobile-nav__item a:focus {
    background: #EBD1FF;
    color: $titleColor;
}

.mobile-nav__item a:hover {
    color: $link-btnColor;
}

.mobile-nav__item a:active {
    color: #7033AC;
}
.mobile-nav__item:not(:nth-child(3n)) {
    margin-bottom: 41px;
}
.mobile-nav__item:not(:last-child) {
    @media (max-width: 700px) {
        margin-bottom: 41px;
    } 
}
.header__mobile-info-nav li {
    white-space: nowrap;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}
.header__mobile-info-nav li:not(:nth-child(2n)) {
    margin-bottom: 12px;
}
.info-nav__item a,
.nav__item a {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.info-nav__item a:focus-visible {
    background-color: #EBD1FF;
}

.info-nav__item a:focus-visible {
    color: #7033AC;
}

.info-nav__item:hover a {
    color: $link-btnColor;
}

.info-nav__item:active a {
    color: #7033AC;
}

.nav__item a:focus-visible {
    background-color: #EBD1FF;
}
.nav__item a:focus-visible {
    color: $titleColor;
}
.nav__item:hover a {
    color: $link-btnColor;
}
.nav__item:active a {
    color: #7033AC;
}

.search {
    &__container {
        position: relative;
        width: 72%;
        @media (max-width: 1300px) {
            width: 69%;
        }
        @media (max-width: 1000px) {
            width: 70%;
        }
        @media (max-width: 700px) {
            width: 100%;   
            margin-bottom: 16px;
        }
    }
    &__label {
        width: 100%;
    }

    &__label::before {
        position: absolute;
        content: "";
        top: 22px;
        left: 34px;
        width: 16px;
        height: 16px;
        background-image: url("images/search.svg");
    }

    &__input {
        width: 100%;
        border: none;
        border-radius: 10px 0px 0px 10px;
        background-color: $lightMainColor;
        padding: 21.5px 59px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;
        @media (max-width: 700px) {
            border-radius: 10px;
            padding: 19px 59px;
        }
    }
    &__input:focus-visible {
        outline: 2px solid #A65CF0
    }
    &__label:hover input {
        background-color: #EAEAEA;
    }
    &__btn {
        @include btn-reset;
        position: absolute;
        width: 32px;
        height: 32px;
        right: 36px;
        top: 13.5px;
        @media (max-width: 700px) {
            right: 32px;
        }
    }
    &__btn svg circle,
    &__btn svg path,
    &__btn svg g path {
        transition: stroke 0.5s ease-in-out, fill 0.5s ease-in-out;
    }

    &__btn:focus:not(:hover) svg circle {
        stroke: #A65CF0;
        fill: #C998FB; 
    }
    &__btn:focus:not(:hover) svg path {
        fill: #FFF;
    }

    &__btn:hover svg circle {
        stroke: #A65CF0;
        fill: #A65CF0;
    }

    &__btn:hover svg g path {
        stroke: #ffffff;
    }

    &__btn:active svg circle {
        fill: #7033AC;
        stroke: #7033AC;
    }
    &__btn:active svg g path {
        stroke: #ffffff;
    }
}

//category-select 
.choices__list--dropdown, .choices__list[aria-expanded] {
    z-index: 2;
}

.category-select  {
    width: 28%;
    @media (max-width: 1300px) {
        width: 31%;
    }
    @media (max-width: 1000px) {
        width: 30%;
    }
    @media (max-width: 700px) {
        width: 100%;   
    }
}

.category-select .choices__list--single {
    padding: 0;
}

.category-select .choices__list--single .choices__item {
    padding: 0;
    color: #A65CF0;
}

.category-select[data-type*=select-one] .choices__inner {
    border: 2px solid #F7F7F7;
    border-radius: 0px 10px 10px 0px;
    background-color: #FFF;
    padding: 18px 27px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $link-btnColor;
    @media (max-width: 700px) {
        border-radius: 10px;
        padding: 18px 30px;
    }
}

.category-select.is-open .choices__inner {
    border: 2px solid #F7F7F7;
    border-radius: 0px 10px 10px 0px;
    background-color: #FFF;
    padding: 18px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $link-btnColor;
    transition: border 0.3s ease-in-out;
    display: grid;
    @media (max-width: 700px) {
        border-radius: 10px 10px 0 0;
    }
}

.category-select.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
    border-color: #F6F6F6;
}

.category-select[data-type*=select-one].is-open::after,
.catalog__filtres-select[data-type*=select-one].is-open::after {
    margin-top: 0;
    top: 43%;
}

.category-select[data-type*=select-one]::after,
.region[data-type*=select-one]::after,
.catalog__filtres-select[data-type*=select-one]::after {
    width: 13px;
    height: 8px;
    border: none;
    background-image: url('images/select.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    top: 48%;
    right: 32.5px;
}

.region[data-type*=select-one]::after,
.catalog__filtres-select[data-type*=select-one]::after {
    right: 12.5px;
}

.category-select[data-type*=select-one].is-open::after,
.region[data-type*=select-one].is-open::after {
    margin-top: unset;
    top: 42%
}

.category-select .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
    margin-bottom: 10px;
    margin-right: 30px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $titleColor;
    overflow: none;
    display: inline-block;
}

.category-select .choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
}

.category-select .choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    padding: 22px 20px 22px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1000px) {
        grid-template-columns: 1fr;
    }
}

//region-select 

.region {
    display: inline-block;
    width: 92px;
}

.region[data-type*=select-one] .choices__inner {
    padding-bottom: unset;
}

.region .choices__inner,
.region .choices__list .choices__list--dropdown {
    background: unset;
    border: unset;
    min-height: unset;
    padding: unset;
}

.region .choices__list--single .choices__item{
    padding-right: 4px;
    color: $link-btnColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.region .choices__list--dropdown .choices__list,
.region .choices__list[aria-expanded] .choices__list {
    background-color: unset;
    border: unset;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.region .choices__list--dropdown .choices__item,
.region .choices__list[aria-expanded] .choices__item {
    margin: unset;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.region .choices__list--dropdown .choices__item:not(:last-child),
.region .choices__list[aria-expanded] .choices__item:not(:last-child) {
    margin-bottom: 11px;
}

.region .choices__list--dropdown .choices__item--selectable.is-highlighted,
 .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: unset;
}








