@import "_vars.scss";
@import "_mixins.scss";

.catalog-menu.item-page {
    margin-bottom: 14px;
}
.itemLink {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.itemBtn {
    z-index: 2;
}
.item-info {
    padding-bottom: 41px;
    @media (max-width: 1000px) {
        padding-bottom: 20px;
    }
    @media (max-width: 700px) {
        padding-bottom: 47px;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        grid-gap: 31px;
        @media (max-width: 1300px) {
            grid-template-columns: repeat(9, 1fr);
        }
        @media (max-width: 1300px) {
            grid-template-columns: repeat(9, 1fr);
        }
        @media (max-width: 1000px) {
            grid-template-columns: repeat(6, 1fr);
        }
        @media (max-width: 700px) {
            grid-gap: 16px;
        }
    }
    &__photos-content {
        grid-column: 1/7;
        grid-row: 1/2;
        @media (max-width: 1300px) {
            grid-column: 1/6;
        }
        @media (max-width: 1000px) {
            grid-column: 1/7;
            text-align: center;
        }
        @media (max-width: 700px) {
            padding-top: 12px;
        }
    }
    &__price-content {
        grid-column: 7/13;
        grid-row: 1/3;
        @media (max-width: 1300px) {
            grid-column: 6/10;
        }
        @media (max-width: 1000px) {
            grid-column: 3/7;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media (max-width: 700px) {
            grid-column: 1/7;
            grid-row: 3/4;
        }
    }
    &__descr-content {
        grid-column: 1/7;
        display: flex;
        flex-direction: column;     
        @media (max-width: 1300px) {
            grid-column: 1/6;
            margin-top: -16px;
        }
        @media (max-width: 1000px) {
            margin-top: unset;
        }
        @media (max-width: 700px) {
            grid-column: 1/7;
            margin-top: 16px;
        }
    }
    &__descr-img {
        margin-top: auto;
        width: 85%;
        @media (max-width: 1300px) {
            width: 100%;
        }
        @media (max-width: 1000px) {
            margin-top: 24px;
        }
    }
    &__tech-info--desc {
        @media (max-width: 700px) {
            display: none;
        }
    }
    &__tech-info--left {
        grid-column: 7/10;
        @media (max-width: 1300px) {
            grid-column: 6/8;
            margin-top: -15px;
        }
        @media (max-width: 1000px) {
            grid-column: 1/5;
            margin-top: unset;
        }
    }
    &__tech-info--right {
        grid-column: 10/13;
        @media (max-width: 1300px) {
            grid-column: 8/10;
            margin-top: -15px;
            margin-left: -29px;
        }
        @media (max-width: 1000px) {
            grid-column: 5/7;
            margin-top: unset;
        }
    }
    &__tech-info--mobile {
        display: none;
        @media (max-width: 700px) {
            grid-column: 1/7;
            display: block;
            padding-top: 16px;
        }
    }
    &__tech-info-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 178%;
        color: #999999;
        position: relative;
        @media (max-width: 700px) {
            margin-bottom: 8px;
        }
    }
    &__tech-info-left {
        grid-column: 1/4;
    }
    &__tech-info-right {
        grid-column: 4/7;
    }
    &__tech-info-item--left::after {
        content: "";
        position: absolute;
        bottom: 5px;
        width: -webkit-fill-available;
        border-bottom: 1px dotted #999999;
        margin-right: -32px;
        @media (max-width: 1300px) {
            margin-right: unset;
        }
        @media (max-width: 700px) {
            display: none;
        }
    }
    &__tech-info-item--right {
        color: $titleColor;
        white-space: nowrap;
        @media (max-width: 700px) {
            font-size: 14px;
            line-height: 19px;
        }
    }
    &__tech-info-item--left {
        white-space: nowrap;
        @media (max-width: 700px) {
            font-size: 10px;
            line-height: 14px;
        }
    }
    &__another-imgs {
        grid-column: 1/7;
        grid-row: 2/3;
        display: flex;
        background: #F7F7F7;
        justify-content: space-between;
        padding: 10px 25px;
        margin-top: -16px;
        @media (max-width: 1300px) {
            grid-column: 1/6;
            padding: 10px;
            justify-content: unset;
            min-width: fit-content;
            overflow: scroll;
        }
        @media (max-width: 1000px) {
            grid-column: 1/3;
            grid-row: 2/3;
            padding: 25px 10px;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            min-width: unset;
            margin-top: unset;
            overflow: unset;
        }
        @media (max-width: 700px) {
            grid-column: 1/7;
            grid-row: 2/3;
            min-width: fit-content;
            overflow: scroll;
            flex-direction: row;
            padding: 7px 10px 0;
            
        }
    }
    &__another-imgs::-webkit-scrollbar {
        width: 0;
    }
    &__another-imgs img:not(:last-child) {
        @media (max-width: 1300px) {
            margin-right: 38px;
        }
        @media (max-width: 1000px) {
            margin-right: unset;
        }
        @media (max-width: 700px) {
            margin-right: 38px;
        }
    }
    &____main-img {
        margin-bottom: 16px;
    }
    &__another-imgs img {
        object-fit: scale-down;
    }
    &__descr-title {
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: $titleColor;
    }
    &__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        color: $titleColor;
    }
    &__descr:first-child {
        margin-bottom: 15px;
    }
    &__price-content {
        padding: 19px 0;
        @media (max-width: 1000px) {
            padding: 51px 0;
        }
        @media (max-width: 700px) {
            padding: 0;
            margin-top: -5px;
        }
    }
    &__rating {
        margin-bottom: 2px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #FF862F;
    }
    &__rating img {
        margin-right: 6px;
    }
    &__name {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        color: $titleColor;
        @media (max-width: 700px) {
            font-size: 16px;
        }
    }
    &__other {
        margin-bottom: 21px;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #999999;
        @media (max-width: 700px) {
            margin-bottom: 17px;
        }
    }
    &__price {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: $titleColor;
        @media (max-width: 700px) {
            font-size: 24px;
            margin-bottom: 16px;
        }
    }
    &__btn-container {
        display: flex;
        flex-direction: column;
        width: fit-content;
        @media (max-width: 700px) {
            width: unset;
        }
    }
    &__buy-btn {
        @include btn-reset;
        margin-bottom: 12px;
        background-color: $link-btnColor;
        padding: 18px 39px;
        color: #ffffff;
        border-radius: 10px;
        display: block;
        transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
    &__buy-btn:focus {
        @include primary-btn-focus;
    }
    &__buy-btn:hover {
        @include primary-btn-hover;
    }
    &__buy-btn:active {
        @include primary-btn-active;
    }
    &__add-to-cart-btn {
        @include btn-reset;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $link-btnColor;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
    &__add-to-cart-btn:focus:not(:active) {
        background-color: #EBD1FF;
    }
    &__add-to-cart-btn:hover {
        color: #C998FB;
    }
    &__add-to-cart-btn:active {
        color: #7033AC;
    }
}

.item-info__descr:not(:last-child) {
    margin-bottom: 7px;
}
.similar {
    padding-top: 40px;
    padding-bottom: 70px;
    @media (max-width: 1300px) {
        padding-top: 32px;
    }
    @media (max-width: 1000px) {
        padding-top: 15px;
    }
    @media (max-width: 700px) {
        padding-bottom: 118px;
    }
    &__container {
        @media (max-width: 1300px) {
            padding: unset;
            margin: 0 36px;
        }
        @media (max-width: 1000px) {
            margin: 0 72px;
        }
        @media (max-width: 700px) {
            margin: 0 12px;
        }
    }
    &__caption {
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        color: $titleColor;
    }
    &__list {
        @include list-reset;
        display: flex;
        flex-direction: row;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: #F7F7F7;
        border-radius: 10px;
        padding: 30px 0;
        min-height: 420px;
        @media (max-width: 700px) {
            padding: 16px 0;
            min-height: 278px;
        }
    }
    &__item .swiper-slide {
        height: auto;
    }
    &__pagination {
        position: absolute;
        top: 0;
        right: 32px;
        @media (max-width: 1300px) {
            right: 0px;
        }
        @media (max-width: 700px) {
            display: block;
            margin-top: 16px;
            bottom: -51px;
            top: unset;
            right: calc((100% - 75px )/2);
        }
    }
    &__pagination button {
        @include btn-reset;
    }
    &__back-btn.swiper-button-disabled circle,
    &__back-btn.swiper-button-disabled path {
        stroke: #999999;
    }
    &__back-btn svg {
        margin-right: 13px;
    }
    &__forward-btn svg circle,
    &__forward-btn svg path,
    &__back-btn svg circle,
    &__back-btn svg path {
        transition: stroke 0.3s ease-in-out, fill 0.3s ease-in-out;
    }  color: $link-btnColor;

    &__forward-btn:focus:not(:hover) svg circle,
    &__back-btn:focus:not(:hover) svg circle {
        stroke: #A65CF0;
        fill: #C998FB; 
    }

    &__forward-btn:focus:not(:hover) svg path,
    &__back-btn:focus:not(:hover) svg path {
        fill: #FFF;
    }

    &__forward-btn:hover svg circle,
    &__back-btn:hover svg circle {
        stroke: #A65CF0;
        fill: #A65CF0;
    }

    &__forward-btn:hover svg g path,
    &__back-btn:hover svg g path {
        stroke: #ffffff;
    }
    &__forward-btn:active svg circle,
    &__back-btn:active svg circle {
        stroke: #7033AC;
        fill: #7033AC;
    }
    &__forward-btn:active svg g path,
    &__back-btn:active svg g path {
        stroke: #ffffff;
    }
    
}
.similar-item {
    &__rating {
        margin-bottom: auto;
        padding: 0 30px;
        color: #FF862F;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        @media (max-width: 700px) {
            padding: 0 16px;
            font-size: 12px;
        }
    }
    &__rating img {
        @media (max-width: 700px) {
            width: 13px;
        }
    }
    &__img {
        object-fit: scale-down;
        margin-bottom: 16px;
        align-self: center;
        @media (max-width: 700px) {
            max-width: 108px;
            margin: 0 auto;
            margin-bottom: 16px;
        }
    }
    &__title {
        margin-bottom: 24px;
        padding: 0 30px;
        font-weight: 400;
        font-size: 24px;
        line-height: 130%;
        color: $titleColor;
        @media (max-width: 700px) {
            padding: 0 16px;
            font-size: 16px;
            margin-bottom: 16px;
        }
    }
    &__price {
        margin-bottom: 24px;
        padding: 0 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #666666;
        @media (max-width: 700px) {
            padding: 0 16px;
            margin-bottom: 16px;
        }
    }
    &__btn {
        @include btn-reset;
        width: fit-content;
        outline: 2px solid $link-btnColor;
        border-radius: 10px;
        margin-left: 30px;
        padding: 19px 35px;
        color: $link-btnColor;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
        @media (max-width: 700px) {
            margin-left: 16px;
            padding: 12px 25px;
        }
    }
    &__btn:focus {
        @include secondary-btn-focus;
    }
    &__btn:hover {
        @include secondary-btn-hover;
    }
    &__btn:active {
        @include secondary-btn-active;
    }

}

.similarSwiper {
    overflow: hidden;
}